html,
body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
}
.scrollbar-y::-webkit-scrollbar {
    width: 6px;
}
// 滚动条轨道
.scrollbar-y::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}
// 小滑块
.scrollbar-y::-webkit-scrollbar-thumb {
    background: #40a0ff49;
    border-radius: 10px;
}
.scrollbar-y::-webkit-scrollbar-thumb:hover {
    background: #40a0ff;
}


.el-dialog {
    margin: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 440px !important;
}
